
html{
    background: rgb(210, 234, 250)
}

.container{
    position: relative;
    margin: auto;
    padding-top: 10px;
    box-shadow: 1px 1px 2px 2px rgb(189, 188, 188); 
    width: 397px;
    background: white;
    margin-bottom: 20px;
}
.btn{
    margin-left: 263px;
    background-image: url(images/bell.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-top: 50px;
    border-radius: 5px;
}
.circle{
    position: relative;
    margin-bottom: -60px;
    padding: 0;
    height: 22px;
    width: 22px;
    background-image: url(images/redcircle.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 285px;
    z-index: 5px;
}
.btn-container{
    margin: auto;
    position: relative;
    width: 320px;
    height: 60px;
    margin-top: 50px;

}
.top{
    margin: auto;
    position: relative;
    background-image: url(images/notify.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 400px;
    height: 90px;
}
.top p{
    padding: 35px 30px;
    position: absolute;
}
.number{
    text-align: center;
    padding-top: 3px;
}
.img{
    width: 50px;
    height: 50px;
    position: relative;
}
hr {
    width: 85%;
    bottom: -5px;
} 
.content p, h3, .img {
    padding-left: 60px;
}
.content:last-child hr{
    display: none;
}
